@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #66A5AD;  */
    --background: #D8D2C2;
    --foreground: #ededed;
    /* --insideground: #C4DFE6; */
    --insideground: #FAF7F0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
